html {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial, sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 20px;
}

header {
  font-size: 30px;
}

main {
  grid-area: 1 / 2 / 6 / 6;
}

nav {
  grid-area: 1 / 1 / 6 / 2;
}