html {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --body-color: #ecf0f1;
    --body-text-color: #545454;
    --link-color: #666666;
    --submit-button-color: #ffc0cb;
    --submit-button-hover-color: #ffc0cba6;
    --social-items-color: #253294;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    width: 1138px;
    max-width: 100%;
    margin: auto;
    display: grid;
    gap: 30px;
    justify-items: center;
    background-color: var(--body-color);
    color: var(--body-text-color);
    font-size: 18px;
    line-height: 1.6;
}

.container {
    position: relative;
    text-align: center;
}

.header {
    z-index: 2;
    position: fixed;
    display: flex;
    max-width: 1138px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--body-color);
}

@media (max-width: 1024px) {
    .header {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    .header__nav {
        margin-bottom: 10px;
    }
}

.header__block {
    display: flex;
    align-items: center;
}

.header__navLink {
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
}

.header__img {
    height: 75px;
    margin-right: 10px;
}

.main {
    position: relative;
    top: 100px;
}

.main__header {
    text-align: center;
}

.email {
    display: block;
    width: 60%;
    margin: 20px auto;
    padding: 10px;
}

.submit {
    display: block;
    margin: 20px auto;
    width: 100px;
    background-color: var(--submit-button-color);
    border: none;
    border-radius: 2px;
    padding: 10px;
}

.submit:hover {
    background-color: var(--submit-button-hover-color);
}

.main__about {
    margin: 10px auto;
    max-width: 100%;
    text-align: left;
}

.main__more {
    display: grid;
    grid-template-rows: 1fr;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
    .main__more {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        gap: 0;
    }
}

.bottom-bordered {
    border-style: solid;
    border-width: 0 0px 2px 0;
}

.link {
    text-decoration: none;
    color: var(--link-color);
}

.main__socialItems {
    display: flex;
    justify-content: space-around;
}

.main__socialItems .main__socialItem {
    list-style: none;
}

.main__socialItems .main__socialItem .main__link {
    border-radius: 50%;
    font-size: 35px;
    color: var(--social-items-color);
    margin: 0 6px;
}

.footer {
    position: relative;
    bottom: -85px;
    font-size: 14px;
    font-style: italic;
}