    html {
      box-sizing: border-box;
      scroll-behavior: smooth;
      font-family: 'Poppins', sans-serif;

    }

    *, ::after, ::before {
      box-sizing: inherit;
    }

    body {
      min-height: 100vw;
      color: #ecf0f1;
    }

    #header {
      background-color: #00B35E;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    nav {
      font-size: 25px;
      display: flex;
      gap: 20px;
      justify-content: flex-end;
      padding: 20px;
    }

    a {
      text-decoration: none;
      color: #ecf0f1;
    }

    #welcome-section {
      height: 100vh;
      background-color: #490566;
      text-align: center;
    }

    #welcome-title, #welcome-subtitle {
      position: relative;
      top: 40%;
    }

    #welcome-title {
      font-size: 50px;
    }

    #welcome-subtitle {
      font-size: 30px;

    }

    #projects {
      background-color: #8F5F00;
      padding-bottom: 80px;
    }

    .projects-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      row-gap: 50px;
    }

    @media (max-width: 1260px) {
      .projects-wrapper {
        grid-template-columns: repeat(1, 1fr);
      }
    }


    h2 {
      text-align: center;
      margin-top: 0;
      font-size: 45px;
      padding: 50px;
    }

    .contact-title {
      margin-bottom: 10px;
      padding-top: 150px;
    }

    img {
      width: 600px;
      margin-bottom: 0;
    }

    .project-name {
      font-size: 30px;
      text-align: center;
      margin-top: 0;
      background-color: #00B35C;
      padding: 20px;
    }


    #contact {
      background-color: #490566;
      height: 60vh;
    }

    @media (max-width: 890px) {
      #contact {
        height: 100%;
      }
    }

    .contact-wrapper {
      display: flex;
      justify-content: space-evenly;
    }

    @media (max-width: 890px) {
      .contact-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
      }
    }

    .contact-item {
      font-size: 50px;
      transition: width 2s, height 2s, transform 1s;
    }

    .contact-item:hover {
      transform: scale(1.4);
    }

    i {
      padding: 20px;
    }

    hr {
      margin: 0;
      height: 7px;
      background-color: #00B35E;
    }

    footer {
      height: 15vh;
      background-color: #490566;
      font-size: 20px;
      font-style: italic;
      padding: 20px;
      text-align: center;
      padding-top: 50px;
    }

    span {
      color: crimson;
    }

    .footer-link:hover {
      text-decoration: underline;
    }